{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% pelicula %}
    {% Fecha %}
{% Genero %}

<form action="/add_pelicula" method="POST">
    <input type="text" name="NOMBRE" placeholder="Nombre de la película">
    <input type="date" name="FECHA_SALIDA" placeholder="Fecha de salida">
    <input type="text" name="GENERO" placeholder="Género">
    <button type="submit">
        Guardar
    </button>
</form>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Fecha de salida</td>
            <td>Género</td>
            <td>Cambios</td>
        </tr>
    </thead>
    <tbody>
        {% for pelicula in peliculas %}
        <tr>
            <td>{{ pelicula.1 }}</td>
            <td>{{ pelicula.2 }}</td>
            <td>{{ pelicula.3 }}</td>
            <td>
                <a href="/getPelicula/{{ pelicula.0 }}">Editar</a>
                <a href="/delete/{{ pelicula.0 }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
